.gamePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    min-height: fit-content;
    background-color: var(--primaryWhite);
  }
  
  .gameContainer{
    background-color: var(--gameCyan);
    height: 85vh;
    min-height: fit-content;
    width: 40vw;
    min-width: fit-content;
    border-radius: 10%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    box-shadow: 0px 7px 0px 0px rgba(15, 75, 68, 0.66);
  
    .Screen {
      background-color: var(--primaryWhite);
      border-radius: inherit;
      overflow: hidden;
      min-height: 50%;
      max-height: 80%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      /* gap: 10rem; */
      justify-items: center;
      align-items: center;
      gap: 0;
      /* height: 100%; */
      /* min-height: 55%; */
      width: 90%;
      min-width: fit-content;
      /* height: 80%; */
      /* max-height: 80%; */
      margin: 1.5rem 0;
      border: 1px solid black;
      padding: 1.5rem 0;
    }
  }